@use "../abstract/varaible" as *;

.verify {
  padding: $spacing-xl;

  .message-container {
    max-width: 400px;
    margin: auto;

    border: 1px solid;

    text-align: center;
  }

  #login-link {
    a {
      color: #005fcc;
      display: block;

      &:hover {
        color: #ffa500;
      }
    }
  }
}
